<div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Add new employee</span>
    </div>
    <input type="text" class="form-control" placeholder="Vardas" [(ngModel)]="firstName">
    <input type="text" class="form-control" placeholder="Pavardė" [(ngModel)]="lastName">
    <select [(ngModel)]="genderType">
      <option [ngValue]="0">Male</option>
      <option  [ngValue]="1">Female</option>
      <option  [ngValue]="2">Unspecified</option>
    </select>
    <input type="text" class="form-control" placeholder="Kompanija" [(ngModel)]="companyListId">

    <button type="button" *ngIf="editMode == false" class="btn btn-outline-primary btn-rounded" (click)="addEmployee()">Naujas</button>
    <button type="button" *ngIf="editMode == true" class="btn btn-warning" (click)="sendUpdatedEmployee()">Atnaujink</button>
  </div>
</div>
<div>
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>Vardukas</th>
        <th>Pavardukas</th>
        <th>Gender tipas</th>
        <th>Kompanija</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor = "let employee of employees">
        <td class="bg-info">{{employee.firstName}}</td>
        <td class="bg-success">{{employee.lastName}}</td>
        <td class="bg-success">{{employee.genderType}}</td>
        <td class="bg-success">{{employee.companyListId}}</td>
        <td><button type="button" class="btn btn-outline-danger" (click)="deleteEmployee(employee.id)">Delete</button></td>
        <td><button type="button" class="btn btn-warning" (click)="updateEmployee(employee)">Update</button></td>
      </tr>
    </tbody>

  </table>
</div>

<!-- <p>{{title}}</p>

<ul>
    <li *ngFor = "let employee of employees">
        Vardas: {{employee.firstName}} Pavardė: {{employee.lastName}}
    </li>
</ul>


Vardukas
<input type="text" [(ngModel)]="firstName" /> 
Pavardukas
<input type="text" [(ngModel)]="lastName" />
 

<button (click)="addEmployee()">Add new employee</button> -->